.col-md-8#users_listing
  %h3 Listing Users
  %table.table.table-bordered.table-condensed.table-striped
    %tr
      %th Name
      %th Email
      %th Number of orders
      %th Registred
      %th Show
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.orders.count
        %td= user.created_at.strftime('%x')
        %td= link_to 'Show', user_path(user)
.col-md-8
  .pagination.pagination-centered
    %ul
      %li.active
        %span= will_paginate @users
.col-md-9
  = link_to 'Back', days_path
