.col-md-3
  %p
    = t '.t_user_name'
    = @user.name
  %p
    = t '.t_user_email'
    = @user.email
  %p
    = t '.t_user_registred_at'
    = @user.created_at.strftime('%x')
  %p
    = t '.t_number_of_orders'
    = @user.orders.count
  %p
    = t '.t_total_price'
    = number_to_currency(@user.total_price_of_user_orders)

.col-md-8
  -if @user.orders.any?
    %h3 User orders
    %table.table.table-bordered.table-condensed.table-striped
      %tr
        %th
          = t '.t_date'
        %th
          = t '.t_first'
        %th
          = t '.t_second'
        %th
          = t '.t_drink'
        %th
          = t '.t_price'
      - @orders.each do |order|
        %tr
          %td= order.created_at.strftime('%x')
          %td= order.pull_first_course_name
          %td= order.pull_second_course_name
          %td= order.pull_drink_course_name
          %td= number_to_currency(order.order_total_price)

.col-md-12
  .pagination.pagination-centered
    %ul
      %li.active
        %span= will_paginate @orders, renderer: FoundationPagination::Rails

.col-md-9
  = link_to t('.l_back'), :back