.col-md-4#side
  - if @cart
    %div#cart
      = render @cart

.col-md-4#profile
  %h3
    name:
    = current_user.name
    %br
    email:
    = current_user.email
    %br
    = link_to 'Edit my profile',  edit_user_registration_path

.col-md-2#square
  .col-md-1#small_square
    %p#today_letter
      = Time.now.strftime('%a')
  %p#today_number
    = Time.now.strftime('%d')
  %p#today
    Today

.col-md-12#calendar_table
  = link_to "#", class: "showMore" do
    %i.fa.fa-caret-down.fa-3x
  = link_to "#", class: "showLess" do
    %i.fa.fa-caret-up.fa-3x
  %h3 Calendar
  = week_calendar day_names: "date.day_names", table: {class: "table table-bordered"}, tr: {class: "calendar-row"}, td: week_calendar_td_options, events: @days do |date, days|
    %b
      = date.strftime("%d")
    - days.each do |day|
      - if day.created_at.strftime("%d") == Time.now.strftime("%d")
        %div.menu
          %b First courses:
          %ol
            - day.first_courses.each do |first_course|
              = render first_course
              = button_to 'Order', first_items_path(first_course_id: first_course), remote: true, class: "btn btn-warning", id: "b_add_to_cart"
          %b Second courses:
          %ol
            - day.second_courses.each do |second_course|
              = render second_course
              = button_to 'Order', second_items_path(second_course_id: second_course), remote: true, class: "btn btn-warning", id: "b_add_to_cart"
          %b Drinks:
          %ol
            - day.drinks.each do |drink|
              = render drink
              = button_to 'Order', drink_items_path(drink_id: drink), remote: true, class: "btn btn-warning", id: "b_add_to_cart"
      - else
        %div.menu
          %b First courses
          %ol
            - day.first_courses.each do |first_course|
              = render first_course
          %b Second courses
          %ol
            - day.second_courses.each do |second_course|
              = render second_course
          %b Drinks
          %ol
            - day.drinks.each do |drink|
              = render drink










