.col-md-4#side
  #table_and_buttons
    %h4
      = t '.h_your_menu'
    %table.cart_table
      %td
        %tr
          - if @first_course
            = @first_course.name
            = price_to_dolar_insert(@first_course.price)
            %br
          - if @second_course
            = @second_course.name
            = price_to_dolar_insert(@second_course.price)
            %br
          - if @drink
            = @drink.name
            = price_to_dolar_insert(@drink.price)

      %tr.total_line
        %td Total
        %td.total_cell
          = total_price(@first_course, @second_course, @drink)
    = show_desired_button(@first_course, @second_course, @drink)

.col-md-4#profile
  %h3
    name:
    = current_user.name
    %br
    email:
    = current_user.email
    %br
    = link_to t('.l_edit_profile'),  edit_user_registration_path
    %br
    - if current_user.role == "admin"
      = link_to t('.l_admin_side'),  days_path

    %br
    = link_to "persons profile",  user_root_path

.col-md-2#square
  .col-md-1#small_square
    %p#today_letter
      = Time.now.strftime('%a')
  %p#today_number
    = Time.now.strftime('%d')
  %p#today
    Today

.col-md-12#calendar_table
  = link_to "#", data: { title: "Hide menu" }, class: "showLess" do
    %i.fa.fa-caret-up.fa-3x
  %h3 Lunch calendar
  = week_calendar day_names: "date.day_names", table: {class: "table table-bordered"}, tr: {class: "calendar-row"}, td: week_calendar_td_options, events: @days do |date, days|
    %b
      = date.strftime("%d")
    - days.each do |day|
      = render day


