.col-md-4#side
  - if @cart
    %div#cart
      = render @cart

.col-md-4#profile
  %h3
    name:
    = current_user.name
    %br
    email:
    = current_user.email
    %br
    = link_to 'Edit my profile',  edit_user_registration_path
    %br
    - if current_user.role == "admin"
      = link_to 'Admin side',  days_path


.col-md-2#square
  .col-md-1#small_square
    %p#today_letter
      = Time.now.strftime('%a')
  %p#today_number
    = Time.now.strftime('%d')
  %p#today
    Today

.col-md-12#calendar_table
  = link_to "#", data: { title: "Hide menu" }, class: "showLess" do
    %i.fa.fa-caret-up.fa-3x
  %h3 Lunch calendar
  = week_calendar day_names: "date.day_names", table: {class: "table table-bordered"}, tr: {class: "calendar-row"}, td: week_calendar_td_options, events: @days do |date, days|
    %b
      = date.strftime("%d")
    - days.each do |day|
      = render day











