= link_to t('.l_show_menu'),  "#", class: "showMore"
%div.menu
  <hr>
  = form_tag(controller: "persons", action: "create_cart") do
    .field
      .form-group
      %b
        = t '.t_first_courses'
        = select_tag(:first_course_id, options_for_select(day.first_courses.map{|u| [u.name, u.id]}.insert(0, "")))
      .form-group
      %b
        = t '.t_second_courses'
        = select_tag(:second_course_id, options_for_select(day.second_courses.map{|u| [u.name, u.id]}.insert(0, "")))
      .form-group
      %b
        = t '.t_drink_courses'
        = select_tag(:drink_id, options_for_select(day.drinks.map{|u| [[u.name, price_to_dolar(u.price)], u.id]}.insert(0, "")))
    .actions
    - if day.starts_at.strftime("%d") == Time.now.strftime("%d")
      = submit_tag "Add to cart"
