%p#drink_tab
  = f.label :name, 'Drink'
  = f.text_field :name, placeholder: 'Drink', rows: 2
  = f.label :price, 'Drink price'
  = f.text_field :price, placeholder: 'Price', rows: 2
  = link_to_remove_fields "Remove", f