%p#course_tab
  = f.label :name, 'First course'
  = f.text_field :name, placeholder: 'First course', rows: 2
  = f.label :price, 'First course price'
  = f.text_field :price, placeholder: 'Price', rows: 2
  = link_to_remove_fields t('.l_remove'), f





