= form_for @day do |f|
  %h3 Create menu
  - if @day.errors.any?
    #error_explanation
      %h3
        = t( :errors, count: @day.errors.count, model_day: t("model_day.Day"))
      %ul
        - @day.errors.full_messages.each do |msg|
          %li= msg

  #form_new_menu
    %h4#h_first_courses
      First courses
    %h4#h_second_courses
      Second courses
    %h4#h_drinks
      Drinks
    .col-md-4
      .course
        = f.hidden_field :starts_at, value: DateTime.now
        = f.fields_for :first_courses do |first_courses_form|
          = render 'first_course_fields', f: first_courses_form
          = link_to_add_fields "Add first course", f, :first_courses
    .col-md-4
      .course
        = f.fields_for :second_courses do |second_courses_form|
          = render 'second_course_fields', f: second_courses_form
          = link_to_add_fields "Add second course", f, :second_courses
    .col-md-4
      .course
        = f.fields_for :drinks do |drinks_form|
          = render 'drink_fields', f: drinks_form
          = link_to_add_fields "Add drink", f, :drinks

      = f.submit "Create menu", class: "btn btn-warning", id: "b_create_menu"
    .col-md-12
      = link_to 'Back', days_path



