%h1 Listing days
%table
  %thead
    %tr
      %th Name
      %th Starts at
      %th
      %th
      %th
  %tbody
    - @days.each do |day|
      %tr
        %td= day.name
        %td= day.starts_at
        %td= link_to 'Show', day
        %td= link_to 'Edit', edit_day_path(day)
        %td= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Day', new_day_path
= week_calendar day_names: "date.day_names", table: {class: "table table-bordered"}, tr: {class: "calendar-row"}, td: ->(start_date, current_calendar_date) { {class: "calendar-date", data: {day: current_calendar_date}} }, events: @days do |date, days|
  = date
  - days.each do |day|
    %div
      = day.name
      %p First courses
      %ol
        - for first_course in day.first_courses
          %li= first_course.name
      %p Second courses
      %ol
        - for second_course in day.second_courses
          %li= second_course.name

      %p Drinks
      %ol
        - for drink in day.drinks
          %li= drink.name
      = link_to 'Show', day_path(day)

