.col-md-3#menu_panel
  %h4#h_menu Menu
  %b First courses
  %ol
    = render @day.first_courses
  %b Second courses
  %ol
    = render @day.second_courses
  %b Drinks
  %ol
    = render @day.drinks
  %tr.total_line
    %td Total price
    %td.total_cell
    = number_to_currency(@day.total_price_of_today_menu)
 
.col-md-3#stats
  %h4#h_menu Days statistic
  %p
    Number of orders:
    = @day.orders.count
  %p
    Price of orders:
    = number_to_currency(@day.total_price_of_orders)

.col-md-2#square_a
  .col-md-1#small_square_a
    %p#today_letter_a
      = @day.created_at.strftime('%a')
  %p#today_number_a
    = @day.created_at.strftime('%d')

.col-md-8#orders_listing
  %h3 Listing Orders
  %table.table.table-bordered.table-condensed.table-striped
    %tr
      %th User name
      %th User email
      %th Menu
      %th Order price
      %th Time
    = render @day.orders

.col-md-12
  = link_to 'Back', days_path
