.col-md-3#menu_panel
  %h4#h_menu
    = t '.h_menu'
  %b
    = t '.t_f_courses'
  %ol
    = render @day.first_courses
  %b
    = t '.t_s_courses'
  %ol
    = render @day.second_courses
  %b
    = t '.t_d_courses'
  %ol
    = render @day.drinks
  %tr.total_line
    %td
      = t '.t_total_price'
    %td.total_cell
    = number_to_currency(@day.total_price_of_today_menu)

.col-md-3#stats
  %h4#h_menu
    = t '.h_day_statistic'
  %p
    = t '.t_number_of_orders'
    = @day.orders.count
  %p
    = t '.t_price_of_orders'
    = number_to_currency(@day.total_price_of_day_orders)

.col-md-2#square_a
  .col-md-1#small_square_a
    %p#today_letter_a
      = @day.created_at.strftime('%a')
  %p#today_number_a
    = @day.created_at.strftime('%d')

.col-md-8#orders_listing
  %h3 Listing Orders
  %table.table.table-bordered.table-condensed.table-striped
    %tr
      %th
        = t '.t_user_name'
      %th
        = t '.t_user_email'
      %th
        = t '.t_user_menu'
      %th
        = t '.t_order_price'
      %th
        = t '.t_time'
    = render @orders

.col-md-12
  .pagination.pagination-centered
    %ul
      %li.active
        %span= will_paginate @orders, renderer: FoundationPagination::Rails

.col-md-12
  = link_to t('.l_back'), days_path
