#table_and_buttons
  %h4 Your Menu
  %table.cart_table
    %tr
    = render(@cart.first_items)
    = render(@cart.second_items)
    = render(@cart.drink_items)
    %tr.total_line
      %td Total
      %td.total_cell
        = number_to_currency(@cart.cart_total_price)
  = button_to 'Order', orders_path, remote: true, class: "btn btn-warning"
  = button_to 'Empty menu', @cart, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info"

