#table_and_buttons
  %h4
    = t '.h_your_menu'
  %table.cart_table
    %tr
    = render(@cart.first_items)
    = render(@cart.second_items)
    = render(@cart.drink_items)
    %tr.total_line
      %td Total
      %td.total_cell
        = number_to_currency(@cart.cart_total_price)
  = button_to t('.b_order'), orders_path, remote: true, class: "btn btn-warning"
  = link_to t('.b_empty_menu'), "#", delete_cart_path: cart_path(@cart), id: "b_delete_cart", class: "btn btn-info"

