%p#course_tab
  = f.label :name, 'Second course'
  = f.text_field :name, placeholder: 'Second course', rows: 2
  = f.label :price, 'Second course price'
  = f.text_field :price, placeholder: 'Price', rows: 2
  = link_to_remove_fields "Remove", f

